body{
	background: #f3f3f3;
	font-family: 'Lato';
}

.bg-primary {
  background-color: #1c7ebb;
  color: white;
}

.bg-primary-light {
  background-color: #449dd5;
  color: white;
}

.bg-success {
  background-color: #23ae89;
  color: white;
}

.bg-info {
  background-color: #2ec1cc;
  color: white;
}

.bg-warning {
  background-color: #ffb61c;
  color: white;
}

.bg-danger {
  background-color: #e94b3b;
  color: white;
}

.bg-orange {
  background-color: #f98e33;
  color: white;
}

.bg-violet {
  background-color: #6a55c2;
  color: white;
}

.bg-dark {
  background-color: #222533;
  color: white;
}

.bg-bright {
  background-color: #fafafa;
  color: #767676;
}

.bg-reverse {
  background-color: white;
  color: #767676;
}


#header{background: #737373;
color: #fff;
	height: 50px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding-left: 16px;
}

#header h1 {margin: 0;
	font-family: 'Pacifico';
	color: #fff;
	display: inline;
}


#header .highlight{color:#f98e33;}
#header .btn {margin: 8px;
	float: right;
}

.brand {
	line-height: 50px;
	font-size: 34px;
}


.panel {
	margin-bottom: 20px;
background-color: white;
border: 1px solid transparent;
border-radius: 2px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.stat-box {
min-height: 105px;
	padding: 20px;
	background: #fff;
	padding: 15px;
	text-align: center;
	font-size: 35px;
	color: #fff;}

.legend {height: 200px;
	margin-bottom: 0;
}





.box-icon{
display: block;
float: left;
margin: 0 10px 10px 0;
width: 65px;
height: 65px;
border-radius: 50%;
line-height: 65px;
vertical-align: middle;
text-align: center;
font-size: 35px;
}

.stat-info {
	color:#666666;
	line-height: 1.1;
}

.stat-info p{
	font-size: 30px;
	margin-top:20px;
	
}

#placeholder{background: white;
	margin-bottom: 20px;
}





.checkbord{border: 1px solid red;}